@using SurfBoardApp.Blazor.Shared.ViewModels.BookingViewModels

@model List<MyBookingVM>

    <br/>

<h2>My Bookings</h2>

@if (Model.Any())
{
    <div class="table-responsive-lg">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Board</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("CreateBooking", new { boardId = booking.BoardId, startDate = DateTime.UtcNow.Date, endDate = DateTime.UtcNow.Date.AddDays(1)})">@booking.BoardName</a>
                        </td>
                        <td>@booking.StartDate.ToShortDateString()</td>
                        <td>@booking.EndDate.ToShortDateString()</td>
                        <td>
                            <div class="btn-group btn-group-toggle">
                                <a asp-controller="Booking" asp-action="EditBooking" asp-route-id="@booking.BookingId" class="btn btn-primary rounded mx-3">Edit Booking</a>
                                <a asp-controller="Booking" asp-action="DeleteBooking" asp-route-id="@booking.BookingId" onclick="return confirm('Are you sure you want to delete this booking?')" class="btn btn-danger rounded">Delete Booking</a>
                            </div>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
}
else
{
    <p>You have no bookings.</p>
}
