@using SurfBoardApp.ViewModels.BookingViewModels

@model List<MyBookingVM>

<h2>My Bookings</h2>

@if (Model.Any())
{
    <div class="table-responsive-lg">
    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">Board</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.BoardName</td>
                    <td>@booking.StartDate.ToShortDateString()</td>
                    <td>@booking.EndDate.ToShortDateString()</td>
                    <td>
                       <a asp-controller="Booking" asp-action="EditBooking" asp-route-boardName="@booking.BoardName"
                       asp-route-startDate="@booking.StartDate.ToString("yyyy-MM-dd")" asp-route-endDate="@booking.EndDate.ToString("yyyy-MM-dd")">Edit Booking</a>

                        <br/>
                       <a asp-controller="Booking" asp-action="DeleteBooking" asp-route-boardName="@booking.BoardName">Delete Booking</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        </div>
}
else
{
    <p>You have no bookings.</p>
}
