@using SurfBoardApp.Blazor.Shared.ViewModels.BoardViewModels;
@model IndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Boards</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by name: <input asp-for="SearchString" class="form-floating col-9" />
            <input type="submit" value="Search" class="btn btn-default btn-search" />
            <a asp-action="Index" class="btn btn-secondary">Clear</a>
        </p>
    </div>
</form>
<div>
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" style="margin-bottom: 20px">
        Book a board
    </button>
</div>
<div class="collapse @(Model.BookingStartDate != null ? "show" : "")" id="collapseExample">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Select booking period:
                <input asp-for="BookingStartDate" class="form-floating" />
                <input asp-for="BookingEndDate" class="form-floating" />
                <input type="submit" value="View available boards" class="btn btn-default btn-search" />
            </p>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>
<div class="row">
    <!-- Loop through the collection of objects in the Model -->
    @foreach (var board in Model.Boards)
    {
        <!-- Create a column that spans 3 of 12 columns in a Bootstrap grid -->
        <div class="col-sm-2">
            <!-- Create a card element with a margin bottom of 3 -->
            <div class="card mb-2 h-100 d-flex flex-column">
                <img class="card-img-top" src="@board.Image?.Picture" alt="Board Image">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">@board.Name</h5>
                    <p class="card-text">@board.Type</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="@Url.Action("Details", new { id = board.Id })" class="btn btn-outline-primary">Details</a>
                    @if (Model.BookingStartDate != null && Model.BookingEndDate != null && User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Booking" asp-action="BookBoard" method="POST">
                            <input type="hidden" value="@Model.BookingStartDate" name="StartDate"/>
                            <input type="hidden" value="@Model.BookingEndDate" name="EndDate" />
                            <input type="hidden" value="@board.Id" name="BoardId"/>
                            <div class="form-actions no-color">
                                <input type="submit" value="Book" class="btn btn-primary" style="margin-left:10px" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="pagination-container">
    @await Html.PartialAsync("_Pagination", Model.Boards)
</div>

