@model PaginatedList<SurfBoardApp.Models.Board>

@{
    ViewData["Title"] = "Index";
}

<h1>Boards</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default btn-search" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="row">
    <!-- Loop through the collection of objects in the Model -->
    @foreach (var board in Model)
    {
        <!-- Create a column that spans 3 of 12 columns in a Bootstrap grid -->
        <div class="col-sm-2">
            <!-- Create a card element with a margin bottom of 3 -->
            <div class="card mb-2 h-100 d-flex flex-column">
                <img class="card-img-top" src="@board.Images?.FirstOrDefault()?.Picture" alt="Board Image">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">@board.Name</h5>
                    <p class="card-text">@board.Type</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="@Url.Action("Details", new { id = board.Id })" class="btn btn-primary">Details</a>
                </div>

            </div>

        </div>

    }
</div>

<div class="pagination-container">
    @await Html.PartialAsync("_Pagination", Model)
</div>

